.leaflet-container {
  width: 100%;
  height: 100vh;
}

.empty-markers {
  opacity: 0.5;
  pointer-events: none;
}

.enabled-markers {
  opacity: 1;
  pointer-events: all;
}

.empty-text {
  z-index: 999;
  font-size: xxx-large;
  font-weight: 900;
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 50%;
}

.marker-title {
  margin: 5px 0;
  font-weight: 500;
}

.marker-description {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}
